.projects-container {
  margin: 1rem auto 2rem auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-items: stretch;
  gap: 1rem;
}

.project {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.project p {
  font-size: 1rem;
  line-height: 1.5rem;
  flex-grow: 1;
  padding-inline: 1rem;
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--color-secondary);
}

.card img {
  margin-bottom: 0.75rem;
}

.project h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.card__buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.card__buttons>[class^="btn-"] {
  border-radius: 0.625rem;
  flex-grow: 1;
}

.btn-code {
  color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-code:hover,
.btn-code:focus {
  color: var(--color-dark) !important;
  background-color: #ffffff !important;
  transition: all 0.5s ease-in-out;
}

@screen lg {
  .projects-container {
    margin: 1rem auto 2rem auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    justify-items: stretch;
    gap: 1rem;
    padding: 1rem;
  }
}