:root {
  --sidebar-width: 14rem;
}

#sidebar {
  background-color: var(--color-secondary);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 90;
  height: 100vh;
  width: var(--sidebar-width);
}

.sidebar__content {
  height: 100%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-img {
  width: 100%;
  position: relative;
}

.name-block {
  font-size: 1.5rem;
  line-height: 2.5rem;
  position: relative;
  opacity: 0.75;
}

.name-block h2 {
  text-align: center;
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  bottom: 0;
  padding-inline: 0.2rem;
}

#sidebar ul {
  margin-top: 1.25rem;
  margin-block: 0.5rem !important;
}

#sidebar li {
  border-bottom: 1px solid var(--color-neutral);
  margin-block: 0.5rem !important;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1rem;
  margin-inline: 0.75rem;
  color: var(--color-neutral);
}

.sidebar-item:hover,
.sidebar-item:focus {
  color: #ffffff;
}

.sidebar-item>img {
  width: 2rem;
  margin-left: 1rem;
}

.sidebar-item>span {
  margin-left: 0.75rem;
}

.hamburger-bar {
  display: flex;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 85;
}

.hamburger-bar h2 {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
}

#hamburger-btn {
  color: #ffffff;
  border: 0;
  border-left: #ffffff solid 1px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  border-radius: 0;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#hamburger-btn:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}

@screen md {
  .hamburger-bar {
    display: none;
  }
}