@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00A3E1;
  --color-dark: #2c2d2f;
  --color-neutral: #777777;

}

body {
  color: #ffffff;
  background-color: var(--color-dark);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: var(--color-primary);
}

li {
  color: #ffffff;
}

.heading-container {
  margin: 2rem auto;
  font-size: 3rem;
  border-bottom: 2px var(--color-neutral) dotted;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='2%2c 20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"); */
}

.heading-icon {
  width: 3rem;
  padding: 0;
  margin: 0;
}

.subheading h3 {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 5px solid var(--color-primary);
  color: #ffffff;
}

.subheading h3:before,
.subheading h3:after {
  position: absolute;
  content: "";
  width: 3px;
  height: 10px;
  background-color: var(--color-primary);
  bottom: 0;
}

.subheading h3:before {
  left: 0;
}

.subheading h3:after {
  right: 0;
}

label {
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
  margin: 0;
  overflow: visible;
  width: 100%;
  padding: 5px 10px;
  transition: all .5s ease;
  position: relative;
  z-index: 1;
  background-color: transparent;
  color: #ffffff !important;
}

.form-input {
  color: #ffffff;
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  border-radius: 0.125rem;
  padding: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
}

.form-input::placeholder {
  color: var(--color-neutral)
}

.form-input:focus {
  border-color: var(--color-primary);
}

#home {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
}

#video-container {

  visibility: visible;
  direction: inherit;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
  position: absolute !important;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#video-container>* {
  /* Telling our absolute positioned video to 
      be relative to this element */
  position: relative;

  width: 100%;
  height: 100%;

  /* Will not allow the video to overflow the 
      container */
  overflow: hidden;

  /* Centering the container's content vertically 
      and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg-video {

  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  -o-filter: blur(5px);
  filter: blur(5px);
}

.banner {
  color: #ffffff;
  position: absolute;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 1.25rem;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #ffffff;
}

.home-title span {
  color: var(--color-primary);
  font-weight: 900;
}

.headline {
  color: #ffffff;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headline span {
  padding: 0.25em;
  font-size: 2.25rem;
}

.headline .word {
    /* color: #fff; */
    font: 700 normal 2.5rem 'tahoma';
}

.word {
  border-bottom: #00A3E1 solid 3px;
  /* border-right: red solid 3px; */
}

.word:after {
  content: '';
  height: 0;
  position: relative;
  width: 0;
  left: 15px;
  border: 2px solid var(--color-neutral);
  animation: flash 1s ease-in-out infinite;
}

@keyframes flash {
  0% {
    border-style: hidden;
}
  70% {
border-style: solid
  }
  100% {
    border-style: hidden;
  }
}